*.py text eol=crlf
*.bat text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
LICENSE text eol=crlf
.gitattributes text eol=crlf
.gitignore text eol=crlf

*.png binary
*.jpg binary
*.ico binary
*.exe binary